<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>

    <!-- NUESTRA HOJA DE ESTILOS -->
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <!-- TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- GOOGLE FONTS --- URBANIST -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <div class="flex flex-col mb-10">
            <div class="font-black text-7xl text-center mt-12 mb-4">
                <span class="bg-clip-text text-transparent bg-gradient-to-r from-orange-300 to-pink-600 cursor-pointer">Task Manager</span>
            </div>
            <hr class="w-48 h-1 mx-auto my-4 bg-sky-100 border-0 rounded md:my-10 dark:bg-gray-700">
             <div class="flex justify-center gap-x-4">
                 <a href="/"><button class="bg-orange-200 hover:bg-sky-800 text-gray-800 hover:text-slate-100 py-2 px-4 mb-4 border border-gray-700 rounded">Get all Tasks</button></a>
                 <a href="/category/urgent"><button class="bg-sky-200 hover:bg-sky-800 text-gray-800 hover:text-slate-100 py-2 px-4 mb-4 border border-gray-700 rounded">Urgent</button></a>
                 <a href="/category/important"><button class="bg-sky-200 hover:bg-sky-800 text-gray-800 hover:text-slate-100 py-2 px-4 mb-4 border border-gray-700 rounded">Important</button></a>
                 <a href="/category/recurrent"><button class="bg-sky-200 hover:bg-sky-800 text-gray-800 hover:text-slate-100 py-2 px-4 mb-4 border border-gray-700 rounded">Recurrent</button></a>
                 <a href="/category/project"><button class="bg-sky-200 hover:bg-sky-800 text-gray-800 hover:text-slate-100 py-2 px-4 mb-4 border border-gray-700 rounded">Project</button></a>
                 <a href="/category/reminder"><button class="bg-sky-200 hover:bg-sky-800 text-gray-800 hover:text-slate-100 py-2 px-4 mb-4 border border-gray-700 rounded">Reminder</button></a>
             </div>
        </div>
    </main>
    <section>
        <div class="flex justify-center">
        <ul class="tasks-card-list my-5 flex flex-col w-8/12">
            {% for task in task_list_by_category %}
            <li class="my-8 card border border-indigo-300 rounded-2xl shadow-lg shadow-zinc-500/50
            {% if (task.is_done == 1) %} bg-clip-content bg-gradient-to-r from-zinc-200 to-green-500
            {% else %} bg-clip-content bg-gradient-to-r from-slate-100 to-sky-100 {% endif %}">
                <div class="p-6">
                <div class="flex gap-x-4 items-center">
                    <h4 class="text-4xl text-slate-600 mb-4">{{task.name}}</h4>
                    <h6 class="bg-zinc-800 text-slate-100 text-l rounded px-3">{{task.category}}</h6>
                </div>
                <p class="mb-8 text-xl">{{task.description}}</p>

                <div class="flex justify-between">
                    <div class="flex gap-x-4">
                        <a href="/is-done/{{task.task_id}}">
                        <button class="bg-white flex gap-x-2 hover:bg-green-300 text-gray-800 font-semibold py-2 px-3 border border-gray-700 rounded shadow-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            Done</button></a>

                        <div class="flex">
                            <a href="/soft-delete/{{task.task_id}}">
                            <button class="flex gap-x-2 bg-white hover:bg-pink-500 text-gray-800 font-semibold py-2 px-3 border border-gray-700 rounded shadow-lg">

                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                                Delete
                            </button></a>
                        </div>
                    </div>
                    <p class="text-base text-zinc-500 ms-4 pt-4">Created at: <span class="text-lg font-semibold text-zinc-800">{{task.created_at}}</span></p>
                    <p class="text-base text-zinc-500 ms-10 pt-4">Last update: <span class="text-lg font-semibold text-zinc-800">{{task.updated_at}}</span></p>
                </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        </div>
    </section>
</body>
</html>